@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom Styles Here*/
body{
    color:'#fff'
}
.dark .dark\:bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(16 16 16 / var(--tw-bg-opacity)) !important;
}

.footer-logo .logo-wrap {
    max-width: 65px;
}

.campaign-body:before,.campaign-body:after{
    position: absolute;
    font-size: 3rem;
    top: 28px;
    width: 12px;
    height: 40px;
}
.campaign-body:before{
    content: "";
    background-image: url('/img/pr-left.svg');
    left: 0;
}
.campaign-body:after{
    content: "";
    background-image: url('/img/pr-right.svg');
    right: 0;
    width: 32px;
}

.newsletter{
    padding-top: 85px;
    padding-bottom: 40px;
}
.newsletter-submit{
    height: 50px;
}
.section-desc {
    padding-top: 125px;
    padding-bottom: 115px;
    max-width: 796px;
}

.tab-content{
    padding: 90px 0;
    max-width: 80%;
}
.package-thumb {
    max-width: 427px;
    margin: 50px auto 45px;
}