@import url('/fonts/stylesheet.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior:smooth;
  }
}
.pt-18{
  padding-top:3.75rem;
}
/*Custom Styles Here*/
body{
    color:#fff
}
.full-width {
  max-width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.font-secondary{
    font-family: 'ABC Favorit Mono';
}
.dark .dark\:bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(16 16 16 / var(--tw-bg-opacity)) !important;
}

.footer-logo .logo-wrap {
    max-width: 65px;
}

.campaign-body:before,.campaign-body:after{
    position: absolute;
    font-size: 3rem;
    top: 28px;
    width: 12px;
    height: 40px;
}
.campaign-body:before{
    content: "";
    background-image: url('/img/pr-left.svg');
    left: 0;
}
.campaign-body:after{
    content: "";
    background-image: url('/img/pr-right.svg');
    right: 0;
    width: 32px;
}

.newsletter{
    padding-top: 85px;
    padding-bottom: 40px;
}
.newsletter-submit{
    height: 50px;
}
.section-desc {
    padding-top: 125px;
    padding-bottom: 115px;
    max-width: 796px;
}

.tab-content{
    padding: 90px 0;
    max-width: 80%;
}
.package-thumb {
    max-width: 427px;
    margin: 50px auto 45px;
}
.text-desc.text-3xl {
  font-size: 1.925rem;
}
/*--------------------- slider ---------------------*/
.slider-container {
    overflow: hidden;
    position: relative;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  bottom: 17px;
  z-index: 1;
  color: #fff;
  font-size: 24px;
}
/* .swiper-button-prev {
  left: 5px;
} */
.swiper-button-next {
  right: 20px;
}
.slider-container .swiper-container {
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.slider-container .swiper-container .swiper-wrapper {
  padding-top: 85px;
  padding-bottom: 85px;
}
.work-slider {
  margin-left: -30px;
  width: calc(100% + 60px);
}
.nav-slider-container .swiper-button-next, 
.nav-slider-container .swiper-button-prev{
  bottom:30px
}
.nav-slider-container .swiper-button-prev {
  left: 18px;
}
.nav-slider-container .swiper-button-next {
  right: 18px;
}
.nav-slider-container:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 100px;
  border-bottom: 1px solid white;
}
.slider-footer-link.uppercase.font-secondary {
  position: absolute;
  bottom: 35px;
  width: 100%;
  text-align: center;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: "←";
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "→";
}