@import url('/fonts/stylesheet.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior:smooth;
  }
}
:root {
  --theme-black: #1a1a1a;
}
.pt-18{
  padding-top:3.75rem;
}
/*Custom Styles Here*/
body{
  color:#fff;
  font-size:14px;
  line-height: 16px;
}
.tracking-light{
  letter-spacing: -0.015em;
}
.tracking-03{
  letter-spacing: 0.03em;
}
.fss-1{
  font-size:16px;
  line-height: 21px;
}
.fss-2{
  font-size:18px;
  line-height: 24px;
}
.fss-3{
  font-size:21px;
  line-height: 24px;
}
.font-primary{
  font-family: Favorit,sans-serif;
  font-size: 2.71428rem;
  line-height: 1;
}
.text-heading-sm{
  font-size: 1.5714rem;
  line-height: 1.3;
}
.text-heading{
  font-size: 40px;
  line-height: 42px;
}
.text-heading-3x{
  font-size: 44px;
  line-height: 62px;
}
.text-heading-2x{
  font-size: 36px;
  line-height: 1.2;
}
.bg-theme-green {
  background-color: #00FF01;
}
.full-width {
  max-width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.height-0{
  max-height: 0;
  transition: .3s ease-out all
}
.height-0.expand{
  max-height: 450px;
  transition: .3s ease-in all
}
.flight-text{
  max-width: 130px;
  overflow: hidden;
  transition: .3s ease-out all;
  white-space: nowrap;
}
.flight-text.expanded{
  max-width: 200px;
  transition: .3s ease-in all
}
.font-secondary{
  font-family: 'ABC Favorit Mono';
}
.theme-gray-bg{
  background-color: #EDE8E3;
}
.\!theme-gray-bg{
  background-color: #EDE8E3 !important;
}
.theme-gray-bg *{
  color:var(--theme-black);
}
.theme-gray-bg:after{
  border-color:var(--theme-black) !important;
}
.txt-black{
  color:var(--theme-black);
}
.border-theme-black{
  border-coloR:var(--theme-black);
}
.dark .dark\:bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(16 16 16 / var(--tw-bg-opacity)) !important;
}

.footer-logo .logo-wrap {
    max-width: 65px;
}

.campaign-body:before,.campaign-body:after{
    position: absolute;
    font-size: 3rem;
    top: 28px;
    width: 12px;
    height: 40px;
}
.campaign-body:before{
    content: "";
    background-image: url('/img/pr-left.svg');
    left: 0;
}
.campaign-body:after{
    content: "";
    background-image: url('/img/pr-right.svg');
    right: 0;
    width: 32px;
}

.newsletter{
    padding-top: 85px;
    padding-bottom: 40px;
}
.newsletter-submit{
    height: 50px;
}
.section-desc {
    padding-top: 125px;
    padding-bottom: 115px;
    max-width: 950px;
}

.tab-content{
    padding: 90px 0;
    max-width: 80%;
}
.package-thumb {
    max-width: 427px;
    margin: 50px auto 45px;
}
.text-desc.text-3xl {
  font-size: 1.925rem;
}
.slider-info .brand-name:before {
  content: '(';
  font-family: 'ABC Favorit Mono';
  position: relative;
  top: 2px;
}
.slider-info .info-wrap {
  font-family: 'ABC Favorit Mono';
}
.slider-info .info-wrap .right-braces {
  position: absolute;
  right: 0;
  top: 0px;
}
.slider-info .info-wrap .right-braces sup {
  position: relative;
  left: -3px;
}
/*--------------------- slider ---------------------*/
.slider-container {
    overflow: hidden;
    position: relative;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  bottom: 17px;
  z-index: 1;
  font-size: 24px;
}
/* .swiper-button-prev {
  left: 5px;
} */
.swiper-button-next {
  right: 20px;
}
.slider-container .swiper-container {
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.slider-container .swiper-container .swiper-wrapper {
  padding-top: 85px;
  padding-bottom: 85px;
}
.work-slider {
  margin-left: -30px;
  width: calc(100% + 60px);
}
.nav-slider-container .swiper-button-next, 
.nav-slider-container .swiper-button-prev{
  bottom:40px
}
.nav-slider-container .swiper-button-prev {
  left: 18px;
}
.nav-slider-container .swiper-button-next {
  right: 18px;
}
.nav-slider-container:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 100px;
  border-bottom: 1px solid white;
}
.slider-footer-link.uppercase.font-secondary {
  position: absolute;
  bottom: 35px;
  width: 100%;
  text-align: center;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: "←";
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "→";
}

.slider-img{
  transition: opacity .3s ease-in;
  opacity: 1;
}
.slider-img.fade{
  opacity: 0; 
  transition: opacity .5s ease-out;
}
.event-image {
  max-width: 184px;
}
.event-image img, .event-image .event-images img{
  margin-bottom: 15px !important;
}
.ticket-info {
  width: 250px;
}
.plane-icon{
  max-width: 30px;
}

.badge-wrapper {
  position: relative;
  font-family: 'ABC Favorit Mono';
  height: 150px;
  max-height: 230px;
}
.badge-wrapper .txt-box {
  padding: 15px;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  right: 0;
  position: absolute;
}
.badge-wrapper .square-txt {
  width: 100px;
  height: 90px;
  display: grid;
  place-content: center;
  text-align: center;
  top: -10px;
  right: 90px !important;
  transform: rotate(6deg);
  z-index: 1;
}
.badge-wrapper .square-txt.bottom {
  top: 125px;
  transform: rotate(-9.03deg);
  right: 70px !important;
}
.badge-wrapper .wide-txt {
  top: 78px;
  right: -5px;
  transform: rotate(-5.55deg);
}
.badge-wrapper .wide-txt.top {
  transform: rotate(7.61deg);
  top: 80px;
}
.badge-wrapper .badge-logo {
  background-color: var(--theme-black);
  padding: 16px;
  border-radius: 50px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.subscriber-modal .badge-wrapper {
  right: 15em;
  bottom: 15em;
  width: 250px;
  position: absolute;
}
.modal {
  position: fixed;
  width: 416px;
  min-height: 590px;
  max-height: 645px;
  z-index: 50;
  top: 7em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--theme-black);
  margin: 0 auto;
  display: block;
  padding: 20px;
}
.modal.tape {
  outline: 40px solid #fff;
}
.modal .btn-close {
  position: absolute;
  right: 25px;
  top: 25px;
}
.modal .page-header {
  margin-bottom: 0;
}
.modal .input-group {
  margin-bottom: 10px !important;
}
.modal [type=submit] {
  margin-top: 10px;
}
.checkbox-list {
  margin: 20px auto;
}
.checkbox-list li {
  margin-bottom: 10px;
}
input[type="checkbox"],
input[type="radio"] {
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  color: currentColor;
  border: 1px solid currentColor;
  transform: translateY(3px);
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]::before,
input[type="radio"]::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #000;
  position: absolute;
  left: 2px;
  top: 2px;
}
input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before{
  transform: scale(1);
}

.theme-gray-bg input[type=checkbox] {
  background-color: transparent;
}

input[type="radio"].radio, 
input[type="radio"].radio:before {
  border-radius: 30px;
}
input[type="radio"].radio{
  background-color: transparent;
  border:1px solid #fff;
}
input[type="radio"].radio:checked::before{
  background-color: #fff;
}
input[type="radio"].radio::before{
  width: 18px;
  height: 18px;
  left: -1px;
  top: -1px;
  
}
.tap-border {
  border: 40px solid #fff;
}

.tab-images .tab-image{
  width: 310px;
  min-height: 395px;
}


.slider-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 95px;
  padding-bottom: 45px;
}
.post-body{
  max-width: 545px;
}

.img-wrap.pad-max {
  padding: 155px;
}

.work-section-content{
  padding: 200px 100px;
}
.work-section-image{
  height: 850px;
}

@media (min-width: 1280px){
  .xl\:text-heading-2x {
    font-size: 3.1428rem;
    line-height: 1.2;
  }
}

@media(min-width:1400px){
  .full-width{
    max-width: 100% !important;
  }
  .max-w-screen-xl{
    max-width: 1440px;
  }
  .subscriber-modal .badge-wrapper {
    right: 20em;
  }
}